/*-------- 03. Slider style ---------*/
.slider-height-1 {
	height: 770px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-height-1 {
	  height: 600px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-height-1 {
	  height: 600px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-height-1 {
	  height: 550px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-height-1 {
	  height: 500px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-height-1 {
	  height: auto;
	  padding: 60px 0;
	}
  }
  
  .slider-height-2 {
	height: 493px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-height-2 {
	  height: 390px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-height-2 {
	  height: 364px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-height-2 {
	  height: 360px;
	}
  }
  
  .slider-height-3 {
	height: 700px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-height-3 {
	  height: 650px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-height-3 {
	  height: 600px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-height-3 {
	  height: 500px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-height-3 {
	  height: 480px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-height-3 {
	  height: auto;
	  padding: 60px 0;
	}
  }
  
  .slider-height-4 {
	height: 770px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-height-4 {
	  height: 670px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-height-4 {
	  height: 670px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-height-4 {
	  height: 600px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-height-4 {
	  height: 600px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-height-4 {
	  height: 470px;
	}
  }
  
  .slider-height-5 {
	height: 647px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-height-5 {
	  height: 513px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-height-5 {
	  height: 379px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-height-5 {
	  height: 350px;
	}
  }
  
  .slider-content-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .slider-content-1 {
	position: relative;
	z-index: 2;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-1 {
	  text-align: center;
	}
  }
  
  .slider-content-1 h3 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	padding: 0 0 0 63px;
	display: inline-block;
  }
  
  .slider-content-1 h3:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	width: 50px;
	height: 3px;
	background-color: #e97730;
  }
  
  .slider-content-1 h1 {
	font-size: 78px;
	line-height: 90px;
	font-family: "Poppins", sans-serif;
	margin: 19px 0 44px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-content-1 h1 {
	  font-size: 65px;
	  line-height: 70px;
	  margin: 19px 0 35px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-content-1 h1 {
	  font-size: 60px;
	  line-height: 70px;
	  margin: 19px 0 35px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-content-1 h1 {
	  font-size: 55px;
	  line-height: 60px;
	  margin: 15px 0 25px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-content-1 h1 {
	  font-size: 50px;
	  line-height: 60px;
	  margin: 15px 0 25px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-1 h1 {
	  font-size: 35px;
	  line-height: 40px;
	  margin: 10px 0 20px;
	}
  }
  
  .slider-btn a {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .2px;
	background-color: #e97730;
	-webkit-transition: all .3s ease ease 0s;
	-o-transition: all .3s ease ease 0s;
	transition: all .3s ease ease 0s;
	z-index: 1;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-btn a {
	  font-size: 15px;
	}
	.slider-btn a.btn {
	  padding: 15px 28px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-btn a {
	  font-size: 14px;
	}
	.slider-btn a.btn {
	  padding: 12px 24px 13px;
	}
  }
  
  .slider-btn a i {
	margin-left: 5px;
	top: 2px;
	position: relative;
  }
  
  .slider-btn a.btn-border-radius {
	border-radius: 50px;
  }
  
  .slider-btn a.btn-bg-white {
	background-color: #ffffff;
  }
  
  .slider-btn a.btn-padding-inc {
	padding: 19px 40px;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-btn a.btn-padding-inc {
	  padding: 14px 25px;
	}
  }
  
  .slider-btn a.btn {
	color: #ffffff;
	border: none;
  }
  
  .slider-btn a.btn.btn-text-black {
	color: #000000;
  }
  
  .slider-btn a.btn.btn-text-black:hover {
	color: #ffffff;
  }
  
  .hero-slider-img-1 {
	position: relative;
  }
  
  @media only screen and (max-width: 767px) {
	.hero-slider-img-1 {
	  margin: 40px 0 0;
	}
  }
  
  .hero-slider-img-1 img {
	width: 100%;
  }
  
  .hero-slider-img-1 .product-offer {
	position: absolute;
	width: 86px;
	height: 86px;
	line-height: 86px;
	border-radius: 100%;
	border: 2px solid #ffffff;
	text-align: center;
	background-color: #e8e8e8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	margin: 0;
	top: -2px;
	right: -8px;
	z-index: 5;
  }
  
  .hero-slider-img-1 .product-offer h5 {
	font-size: 22px;
	font-weight: 600;
	color: #e97730;
	text-transform: uppercase;
	margin: 0;
  }
  
  .hero-slider-img-1 .product-offer h5 span {
	display: block;
	font-size: 16px;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-1 h3 {
	-webkit-animation-delay: 1.0s;
			animation-delay: 1.0s;
	-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-1 h1 {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-1 a {
	-webkit-animation-delay: 1.9s;
			animation-delay: 1.9s;
	-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-1 .animated-slider-img-1 {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-1 .product-offer {
	-webkit-animation-delay: 2.2s;
			animation-delay: 2.2s;
	-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-2 {
	-webkit-animation-delay: .5s;
			animation-delay: .5s;
	-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-2 h3 {
	-webkit-animation-delay: 1.0s;
			animation-delay: 1.0s;
	-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-2 h1 {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-2 a {
	-webkit-animation-delay: 1.9s;
			animation-delay: 1.9s;
	-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-2 h2 {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-2 img {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-3 h3 {
	-webkit-animation-delay: 1.0s;
			animation-delay: 1.0s;
	-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-3 h1 {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
  }
  
  .swiper-slide-active .single-animation-wrap .slider-animated-3 a {
	-webkit-animation-delay: 1.9s;
			animation-delay: 1.9s;
	-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
  }
  
  .swiper-slide-active .single-animation-wrap .hm2-slider-animation * {
	-webkit-animation-duration: 1.3s;
			animation-duration: 1.3s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
  }
  
  .main-slider-nav {
	position: absolute;
	z-index: 9;
	left: 19.3%;
	bottom: 16%;
	font-size: 40px;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.main-slider-nav {
	  left: 7.3%;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.main-slider-nav {
	  left: 1.3%;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-slider-nav {
	  left: 3.1%;
	  bottom: 12%;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-slider-nav {
	  left: 5.1%;
	  bottom: 10%;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.main-slider-nav {
	  left: 43%;
	  bottom: 1%;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.main-slider-nav {
	  left: 46%;
	  bottom: 1%;
	}
  }
  
  .main-slider-nav.home-slider-next {
	margin-left: 40px;
  }
  
  .main-slider-nav.home-slider-prev::before {
	position: absolute;
	content: "";
	right: -14px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	width: 2px;
	height: 20px;
	background-color: #e97730;
  }
  
  .main-slider-nav:hover {
	color: #e97730;
  }
  
  .slider-content-2-wrap {
	width: 500px;
	padding: 62px 0 67px 60px;
	position: relative;
	overflow: hidden;
	background-color: #f0d8c8;
	display: inline-block;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-2-wrap {
	  padding: 62px 0 67px 15px;
	  width: 100%;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.slider-content-2-wrap {
	  padding: 62px 0 67px 30px;
	}
  }
  
  .slider-content-2 h3 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	padding: 0 0 0 63px;
	display: inline-block;
  }
  
  .slider-content-2 h3:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	width: 50px;
	height: 3px;
	background-color: #e97730;
  }
  
  .slider-content-2 h1 {
	font-weight: 600;
	font-size: 60px;
	color: #242424;
	line-height: 74px;
	margin: 9px 0 24px;
	font-family: "Poppins", sans-serif;
	z-index: 5;
	position: relative;
  }
  
  .slider-content-2 h1.font-inc {
	font-size: 72px;
	line-height: 79px;
	margin: 20px 0 17px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-content-2 h1.font-inc {
	  font-size: 55px;
	  line-height: 60px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-content-2 h1.font-inc {
	  font-size: 55px;
	  line-height: 60px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-content-2 h1.font-inc {
	  font-size: 42px;
	  line-height: 47px;
	  margin: 12px 0 17px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-content-2 h1.font-inc {
	  font-size: 40px;
	  line-height: 44px;
	  margin: 12px 0 17px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-2 h1.font-inc {
	  font-size: 40px;
	  line-height: 45px;
	  margin: 9px 0 20px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-content-2 h1 {
	  font-size: 50px;
	  line-height: 60px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-content-2 h1 {
	  font-size: 45px;
	  line-height: 52px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-2 h1 {
	  font-size: 40px;
	  line-height: 45px;
	  margin: 9px 0 20px;
	}
  }
  
  .slider-content-2 img {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
  }
  
  .slider-content-2 h2 {
	position: absolute;
	left: 0;
	bottom: 34px;
	font-size: 72px;
	font-weight: 900;
	margin: 0px;
	color: #f0d8c8;
	line-height: 75px;
	letter-spacing: 18px;
	-webkit-text-stroke: 1px #efc8b2;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-2 h2 {
	  bottom: 12px;
	  letter-spacing: 14px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.slider-content-2 h2 {
	  bottom: 12px;
	  letter-spacing: 10px;
	}
  }
  
  .slider-btn-2 a {
	display: inline-block;
	color: #242424;
  }
  
  .slider-btn-2 a.btn {
	font-weight: 500;
	border: 2px solid #000000;
	border-radius: 50px;
	padding: 14px 40px;
	z-index: 1;
	font-size: 16px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-btn-2 a.btn {
	  font-size: 15px;
	  padding: 12px 30px 13px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-btn-2 a.btn {
	  font-size: 15px;
	  padding: 12px 30px 13px;
	}
  }
  
  .slider-btn-2 a.btn:hover {
	border: 2px solid #e97730;
  }
  
  .slider-btn-3 a {
	display: inline-block;
	color: #242424;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
  }
  
  .slider-btn-3 a.btn {
	font-weight: 500;
	border: 2px solid #000000;
	padding: 15px 40px;
	z-index: 1;
	font-size: 16px;
	letter-spacing: .2px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-btn-3 a.btn {
	  font-size: 15px;
	  padding: 12px 30px 13px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-btn-3 a.btn {
	  font-size: 15px;
	  padding: 12px 30px 13px;
	}
  }
  
  .slider-btn-3 a.btn:hover {
	border: 2px solid #e97730;
  }
  
  .slider-content-2-mrg {
	margin: 0 0 0 30px;
  }
  
  .main-slider-nav2 {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	left: 50px;
	font-size: 50px;
	cursor: pointer;
	line-height: 1;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.main-slider-nav2 {
	  left: 15px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-slider-nav2 {
	  left: 30px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-slider-nav2 {
	  left: 40px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.main-slider-nav2 {
	  left: 15px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.main-slider-nav2 {
	  left: 30px;
	}
  }
  
  .main-slider-nav2.home-slider-next2 {
	left: auto;
	right: 50px;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.main-slider-nav2.home-slider-next2 {
	  right: 15px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-slider-nav2.home-slider-next2 {
	  right: 30px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-slider-nav2.home-slider-next2 {
	  right: 40px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.main-slider-nav2.home-slider-next2 {
	  right: 15px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.main-slider-nav2.home-slider-next2 {
	  right: 30px;
	}
  }
  
  .main-slider-nav2:hover {
	color: #e97730;
	opacity: 0;
	visibility: hidden;
  }
  
  .slider-active:hover .main-slider-nav2 {
	opacity: 1;
	visibility: visible;
  }
  
  .slider-margin {
	margin: 0 30px 0px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-margin {
	  margin: 0 38px 0px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-margin {
	  margin: 0 0px 0px;
	}
  }
  
  .hero-slider-img-2 {
	margin: 0 110px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hero-slider-img-2 {
	  margin: 0 80px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-slider-img-2 {
	  margin: 0 40px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.hero-slider-img-2 {
	  margin: 30px 70px 0;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.hero-slider-img-2 {
	  margin: 40px 90px 0;
	}
  }
  
  .hero-slider-img-2 img {
	width: 100%;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-3 {
	  text-align: center;
	}
  }
  
  .slider-content-3 h3 {
	font-size: 16px;
	font-weight: 600;
	color: #e97730;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 26px;
	margin: 0;
	padding-left: 15px;
	position: relative;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-3 h3 {
	  display: inline-block;
	  text-align: left;
	}
  }
  
  .slider-content-3 h3:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	height: 38px;
	width: 2px;
	background-color: #e97730;
  }
  
  .slider-content-3 h1 {
	font-size: 64px;
	color: #242424;
	line-height: 73px;
	font-weight: 800;
	margin: 18px 0 48px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-content-3 h1 {
	  font-size: 55px;
	  line-height: 65px;
	  margin: 18px 0 40px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-content-3 h1 {
	  font-size: 55px;
	  line-height: 65px;
	  margin: 18px 0 40px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-content-3 h1 {
	  font-size: 42px;
	  line-height: 48px;
	  margin: 18px 0 25px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-content-3 h1 {
	  font-size: 36px;
	  line-height: 43px;
	  margin: 18px 0 28px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-3 h1 {
	  font-size: 30px;
	  line-height: 38px;
	  margin: 18px 0 20px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.slider-content-3 h1 {
	  font-size: 36px;
	  line-height: 43px;
	}
  }
  
  .slider-content-4 h5 {
	position: relative;
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
	display: inline-block;
	line-height: 1;
  }
  
  .slider-content-4 h5:before, .slider-content-4 h5:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 3px;
	background-color: #ffffff;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  .slider-content-4 h5:before {
	left: -65px;
  }
  
  .slider-content-4 h5:after {
	right: -65px;
  }
  
  .slider-content-4 h1 {
	font-size: 78px;
	line-height: 90px;
	margin: 6px 0 43px;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-content-4 h1 {
	  font-size: 70px;
	  line-height: 80px;
	  margin: 6px 0 35px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-content-4 h1 {
	  font-size: 70px;
	  line-height: 80px;
	  margin: 6px 0 35px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-content-4 h1 {
	  font-size: 60px;
	  line-height: 65px;
	  margin: 6px 0 30px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-content-4 h1 {
	  font-size: 55px;
	  line-height: 60px;
	  margin: 6px 0 30px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-4 h1 {
	  font-size: 35px;
	  line-height: 40px;
	  margin: 6px 0 20px;
	}
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.slider-content-4.pt-145 {
	  padding-top: 100px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.slider-content-4.pt-145 {
	  padding-top: 80px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-content-4.pt-145 {
	  padding-top: 80px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.slider-content-4.pt-145 {
	  padding-top: 70px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.slider-content-4.pt-145 {
	  padding-top: 50px;
	}
  }
  
  .main-slider-nav3 {
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 9;
  }
  
  .main-slider-nav3 i {
	font-size: 60px;
	color: #000000;
	width: 60px;
	height: 76px;
	line-height: 76px;
	text-align: center;
	background-color: #ffffff;
	cursor: pointer;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-slider-nav3 i {
	  font-size: 50px;
	  width: 50px;
	  height: 60px;
	  line-height: 60px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.main-slider-nav3 i {
	  font-size: 50px;
	  width: 50px;
	  height: 50px;
	  line-height: 50px;
	}
  }
  
  .main-slider-nav3.home-slider-prev3 {
	margin-right: 62px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-slider-nav3.home-slider-prev3 {
	  margin-right: 52px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.main-slider-nav3.home-slider-prev3 {
	  margin-right: 52px;
	}
  }
  
  .main-slider-nav3:hover i {
	color: #ffffff;
	background-color: #e97730;
  }
  
  @media only screen and (max-width: 767px) {
	.slider-overly {
	  position: relative;
	}
	.slider-overly:before {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(255, 255, 255, 0.5);
	  z-index: 1;
	}
  }
  
  /*-------- 04. Banner style ---------*/
  .banner-wrap {
	position: relative;
	overflow: hidden;
  }
  
  .banner-wrap a {
	display: block;
  }
  
  .banner-wrap a img {
	width: 100%;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
  }
  
  .banner-wrap .banner-position-1 {
	position: absolute;
	left: 60px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-position-1 {
	  left: 10px;
	  right: 10px;
	  text-align: center;
	}
  }
  
  .banner-wrap .banner-position-2 {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  .banner-wrap .banner-content-1 {
	position: absolute;
	left: 24px;
	bottom: 24px;
  }
  
  .banner-wrap .banner-content-1 h5 {
	font-size: 12px;
	font-weight: 500;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .1px;
  }
  
  .banner-wrap .banner-content-1 h3 {
	font-size: 24px;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	margin: 7px 0 15px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-1 h3 {
	  margin: 7px 0 10px;
	  font-size: 20px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-1 h3 {
	  font-size: 20px;
	}
  }
  
  .banner-wrap .banner-content-1 .banner-btn a {
	display: inline-block;
	font-weight: 500;
	line-height: 1;
	border-bottom: 1px solid #000000;
  }
  
  .banner-wrap .banner-content-1 .banner-btn a:hover {
	border-bottom: 1px solid #e97730;
  }
  
  .banner-wrap .banner-content-2 {
	position: absolute;
	left: 50px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-2 {
	  left: 25px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-2 {
	  left: 20px;
	}
  }
  
  .banner-wrap .banner-content-2 span {
	font-size: 18px;
	font-weight: 500;
	color: #e97730;
	margin: 0;
	letter-spacing: .06px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-2 span {
	  font-size: 16px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-2 span {
	  font-size: 15px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-2 span {
	  font-size: 18px;
	}
  }
  
  .banner-wrap .banner-content-2 h2 {
	font-size: 36px;
	font-weight: 600;
	color: #414141;
	margin: 5px 0 4px;
	letter-spacing: .06px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-2 h2 {
	  font-size: 24px;
	  margin: 2px 0 2px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-2 h2 {
	  font-size: 20px;
	  margin: 2px 0 2px;
	  line-height: 1;
	}
  }
  
  .banner-wrap .banner-content-2 p {
	width: 65%;
	color: #414141;
	margin: 0px 0 19px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-2 p {
	  margin: 0px 0 6px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-2 p {
	  width: 95%;
	  margin: 0px 0 6px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-2 p {
	  width: 75%;
	  margin: 5px 0 12px;
	}
  }
  
  .banner-wrap .banner-content-3 {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
	top: 23px;
	text-align: center;
  }
  
  .banner-wrap .banner-content-3 h3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	color: #b9b5b5;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-3 h3 {
	  font-size: 16px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-3 h3 {
	  font-size: 14px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-3 h3 {
	  font-size: 16px;
	}
  }
  
  .banner-wrap .banner-content-3 h3 img {
	margin: 0 3px;
	max-width: 100%;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-3 h3 img {
	  max-width: 90px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-3 h3 img {
	  max-width: 50px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-3 h3 img {
	  max-width: 60px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-3 h3 img {
	  max-width: 100%;
	}
  }
  
  .banner-wrap .banner-content-6 {
	position: absolute;
	left: 35px;
	top: 50px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-6 {
	  top: 18px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-6 {
	  top: 18px;
	  left: 25px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-6 {
	  top: 50%;
	  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
			  transform: translateY(-50%);
	}
  }
  
  .banner-wrap .banner-content-6 h2 {
	font-size: 36px;
	color: #141414;
	font-weight: 600;
	margin: 0;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-6 h2 {
	  font-size: 25px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-6 h2 {
	  font-size: 22px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-6 h2 {
	  font-size: 20px;
	}
  }
  
  .banner-wrap .banner-content-6 h3 {
	font-size: 24px;
	color: #e97730;
	font-weight: 500;
	margin: 10px 0 0px;
	display: inline-block;
	position: relative;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-6 h3 {
	  font-size: 20px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-6 h3 {
	  font-size: 16px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-6 h3 {
	  font-size: 16px;
	}
  }
  
  .banner-wrap .banner-content-6 h3:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -22px;
	width: 100%;
	height: 2px;
	background-color: #e97730;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-6 h3:before {
	  bottom: -15px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-6 h3:before {
	  bottom: -12px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-6 h3:before {
	  bottom: -12px;
	}
  }
  
  .banner-wrap .banner-content-7 {
	position: absolute;
	top: 40px;
	right: 60px;
	text-align: right;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-7 {
	  right: 40px;
	}
  }
  
  .banner-wrap .banner-content-7 h2 {
	font-size: 70px;
	margin: 0;
	line-height: 1;
	font-family: "Great Vibes", cursive;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-7 h2 {
	  font-size: 50px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-7 h2 {
	  font-size: 45px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-7 h2 {
	  font-size: 40px;
	}
  }
  
  .banner-wrap .banner-content-8 span {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	display: inline-block;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	position: relative;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-8 span {
	  font-size: 15px;
	  letter-spacing: 0.6px;
	}
  }
  
  .banner-wrap .banner-content-8 span.border-left {
	padding: 0 0 0 67px;
  }
  
  .banner-wrap .banner-content-8 span.border-left:before {
	position: absolute;
	content: "";
	left: 0px;
	width: 50px;
	height: 3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	background-color: #e97730;
  }
  
  .banner-wrap .banner-content-8 span.border-left-right:before {
	position: absolute;
	content: "";
	left: -67px;
	width: 50px;
	height: 3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	background-color: #e97730;
  }
  
  .banner-wrap .banner-content-8 span.border-left-right:after {
	position: absolute;
	content: "";
	right: -67px;
	width: 50px;
	height: 3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	background-color: #e97730;
  }
  
  .banner-wrap .banner-content-8 h2 {
	font-size: 48px;
	line-height: 55px;
	color: #ffffff;
	margin: 12px 0 29px;
	font-family: "URWAbbeyW01";
	letter-spacing: .5px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-8 h2 {
	  font-size: 35px;
	  line-height: 38px;
	  margin: 8px 0 20px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-8 h2 {
	  font-size: 36px;
	  line-height: 40px;
	  margin: 12px 0 22px;
	}
  }
  
  .banner-wrap .banner-content-8 h2.h2-width {
	width: 70%;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-8 h2.h2-width {
	  width: 100%;
	  font-size: 29px;
	  line-height: 26px;
	  margin: 4px 0 12px;
	}
  }
  
  .banner-wrap .banner-content-8 h2.font-dec {
	font-size: 34px;
	line-height: 37px;
	margin: 10px 0 20px;
  }
  
  .banner-wrap .banner-content-9 {
	position: absolute;
	left: 30px;
	top: 30px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-9 {
	  left: 20px;
	  top: 20px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-9 {
	  left: 20px;
	  top: 20px;
	}
  }
  
  .banner-wrap .banner-content-9 h3 {
	color: #242424;
	font-weight: 600;
	font-size: 22px;
	margin: 0 0 6px;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-9 h3 {
	  font-size: 20px;
	}
  }
  
  .banner-wrap .banner-content-9 h4 {
	color: #242424;
	font-size: 15px;
	margin: 0;
  }
  
  .banner-wrap .banner-price-1 {
	position: absolute;
	left: 30px;
	bottom: 14px;
  }
  
  .banner-wrap .banner-price-1 span {
	color: #e97730;
	font-weight: 600;
	font-size: 20px;
  }
  
  .banner-wrap .banner-content-10-position {
	position: absolute;
	top: 39px;
	right: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-10-position {
	  top: 20px;
	}
  }
  
  .banner-wrap .banner-content-10-position.top-inc {
	top: 60px;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-10-position.top-inc {
	  top: 27px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-10-position.top-inc {
	  top: 40px;
	}
  }
  
  .banner-wrap .banner-content-10-position.top-inc-2 {
	top: 55px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-10-position.top-inc-2 {
	  top: 29px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-10-position.top-inc-2 {
	  top: 27px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-10-position.top-inc-2 {
	  top: 40px;
	}
  }
  
  .banner-wrap .banner-content-10-position .banner-content-10 {
	text-align: right;
  }
  
  .banner-wrap .banner-content-10-position .banner-content-10 h3 {
	font-size: 70px;
	font-family: "Great Vibes", cursive;
	margin: 0;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-10-position .banner-content-10 h3 {
	  font-size: 50px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-10-position .banner-content-10 h3 {
	  font-size: 38px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-10-position .banner-content-10 h3 {
	  font-size: 50px;
	}
  }
  
  .banner-wrap .banner-content-10-position .banner-content-10 h4 {
	font-size: 16px;
	font-weight: 500;
	color: #e97730;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	display: block;
	margin: -15px 0 0;
	letter-spacing: 1.6px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-10-position .banner-content-10 h4 {
	  margin: 5px 0 0;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-10-position .banner-content-10 h4 {
	  margin: 5px 0 0;
	  font-size: 15px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-10-position .banner-content-10 h4 {
	  margin: 5px 0 0;
	  font-size: 15px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-10-position .banner-content-10.banner-content-10-responsive h3 {
	  font-size: 60px;
	}
  }
  
  .banner-wrap .banner-content-11 {
	position: absolute;
	left: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  .banner-wrap .banner-content-11 span {
	font-size: 20px;
	font-weight: 500;
	color: #e97730;
	letter-spacing: .25px;
  }
  
  .banner-wrap .banner-content-11 h3 {
	font-size: 22px;
	font-weight: 600;
	color: #242424;
	margin: 13px 0 0px;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.banner-wrap .banner-content-11 h3 {
	  margin: 8px 0 0px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-11 h3 {
	  margin: 3px 0 0px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-11 h3 {
	  margin: 3px 0 0px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-11 h3 {
	  margin: 3px 0 0px;
	}
  }
  
  .banner-wrap .banner-content-11 h4 {
	font-size: 15px;
	color: #242424;
	margin: 6px 0 95px;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.banner-wrap .banner-content-11 h4 {
	  margin: 6px 0 30px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.banner-wrap .banner-content-11 h4 {
	  margin: 6px 0 20px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-11 h4 {
	  margin: 6px 0 10px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-wrap .banner-content-11 h4 {
	  margin: 6px 0 10px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-11 h4 {
	  margin: 6px 0 10px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-11 h4 {
	  margin: 6px 0 30px;
	}
  }
  
  .banner-wrap .banner-content-12 {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
  }
  
  .banner-wrap .banner-content-12.banner-content-12-width {
	width: 215px;
  }
  
  .banner-wrap .banner-content-12 h2 {
	font-size: 31px;
	margin: 0 0 6px;
	line-height: 1;
	font-family: "Great Vibes", cursive;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-wrap .banner-content-12 h2 {
	  font-size: 29px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap .banner-content-12 h2 {
	  font-size: 20px;
	  margin: 0 0 0px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-content-12 h2 {
	  font-size: 26px;
	  margin: 0 0 3px;
	}
  }
  
  @media only screen and (min-width: 479px) and (max-width: 575px) {
	.banner-wrap .banner-content-12 h2 {
	  font-size: 23px;
	  margin: 0 0 2px;
	}
  }
  
  .banner-wrap .banner-btn-1 {
	position: absolute;
	right: 55px;
	bottom: 30px;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-btn-1 {
	  right: 15px;
	  bottom: 20px;
	}
  }
  
  .banner-wrap .banner-btn-1 a {
	display: inline-block;
	color: #e97730;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	border-bottom: 1px solid #e97730;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.banner-wrap .banner-btn-1 a {
	  font-size: 14px;
	}
  }
  
  .banner-wrap .banner-btn-1 a:hover {
	color: #000000;
	border-bottom: 1px solid #000000;
  }
  
  .banner-wrap.banner-wrap-margin {
	margin-left: -15px;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-wrap.banner-wrap-margin {
	  margin-left: 0px;
	  margin-top: 30px;
	}
  }
  
  .banner-wrap:hover a img {
	-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
			transform: scale(1.05);
  }
  
  .btn-style-2 a {
	display: inline-block;
	font-family: "Poppins", sans-serif;
	z-index: 1;
  }
  
  .btn-style-2 a.btn {
	color: #fdfdfd;
	background-color: #e97730;
	padding: 10px 23px 10px;
	border: none;
  }
  
  @media only screen and (max-width: 767px) {
	.btn-style-2 a.btn {
	  padding: 7px 15px 9px;
	}
  }
  
  .btn-style-3 a {
	display: inline-block;
  }
  
  .btn-style-3 a.btn {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: .02px;
	border: none;
	background-color: #e97730;
	border-radius: 50px;
	z-index: 1;
	padding: 14px 42px 15px;
  }
  
  .btn-style-3 a.btn.border-radius-none {
	border-radius: 0px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.btn-style-3 a.btn {
	  font-size: 15px;
	  padding: 10px 25px 12px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.btn-style-3 a.btn {
	  font-size: 15px;
	  padding: 10px 25px 12px;
	}
  }
  
  .btn-style-4 {
	position: absolute;
	right: 60px;
	bottom: 30px;
  }
  
  .btn-style-4.btn-style-4-modify {
	right: 30px;
  }
  
  .btn-style-4.btn-style-4-modify a {
	font-size: 16px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.btn-style-4 {
	  right: 40px;
	}
  }
  
  .btn-style-4 a {
	display: inline-block;
	font-size: 16px;
	color: #e97730;
	letter-spacing: 1px;
	line-height: 1;
	padding: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #e97730;
  }
  
  .btn-style-4 a:hover {
	border-bottom: 1px solid #000000;
  }
  
  .btn-style-5 a {
	display: inline-block;
  }
  
  .btn-style-5 a.btn {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .2px;
	color: #000000;
	background-color: #ffffff;
	z-index: 1;
	border: none;
	padding: 12px 33px 14px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.btn-style-5 a.btn {
	  font-size: 14px;
	  padding: 10px 22px 12px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.btn-style-5 a.btn {
	  font-size: 14px;
	  padding: 9px 20px 11px;
	}
  }
  
  .btn-style-5 a.btn:hover {
	color: #ffffff;
  }
  
  .banner-content-4 {
	padding: 0 0 0 110px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-content-4 {
	  padding: 0 0 0 60px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-content-4 {
	  padding: 0 0 0 50px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-4 {
	  padding: 0 0 0 30px;
	}
  }
  
  .banner-content-4 h2 {
	font-size: 36px;
	font-weight: 600;
	line-height: 47px;
	color: #141414;
	margin: 0 0 43px;
	position: relative;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-content-4 h2 {
	  font-size: 32px;
	  line-height: 40px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-4 h2 {
	  font-size: 28px;
	  line-height: 37px;
	}
  }
  
  .banner-content-4 h2:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -22px;
	width: 100px;
	height: 2px;
	background-color: #e97730;
  }
  
  .banner-content-4 h3 {
	font-size: 30px;
	font-weight: 500;
	color: #e97730;
	margin: 0 0 30px;
	position: relative;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-4 h3 {
	  font-size: 24px;
	  margin: 0 0 24px;
	}
  }
  
  .banner-content-5 {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	text-align: center;
  }
  
  .banner-content-5.banner-content-5-static {
	position: static;
	-webkit-transform: inherit;
		-ms-transform: inherit;
			transform: inherit;
  }
  
  .banner-content-5.position-modify {
	top: 12%;
	-webkit-transform: inherit;
		-ms-transform: inherit;
			transform: inherit;
  }
  
  .banner-content-5 span {
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffffff;
	position: relative;
  }
  
  .banner-content-5 span.black {
	color: #000000;
  }
  
  .banner-content-5 span:before {
	position: absolute;
	content: "";
	left: -67px;
	width: 50px;
	height: 3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	background-color: #e97730;
  }
  
  .banner-content-5 span:after {
	position: absolute;
	content: "";
	right: -67px;
	width: 50px;
	height: 3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	background-color: #e97730;
  }
  
  .banner-content-5 h2 {
	font-size: 40px;
	font-weight: 600;
	margin: 17px 0 40px;
	color: #ffffff;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-content-5 h2 {
	  margin: 17px 0 25px;
	  font-size: 27px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-content-5 h2 {
	  margin: 10px 0 22px;
	  font-size: 28px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-5 h2 {
	  margin: 10px 0 22px;
	  font-size: 28px;
	}
  }
  
  .banner-content-5 h1 {
	font-size: 72px;
	line-height: 67px;
	margin: 25px 0 40px;
	font-family: "URWAbbeyW01";
	color: #ffffff;
	-webkit-text-stroke: 4px #e97730;
  }
  
  .banner-content-5 h1.font-montserrat {
	font-weight: bold;
	color: #000000;
	font-family: "Montserrat", sans-serif;
	-webkit-text-stroke: inherit;
	margin: 21px 0 15px;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.banner-content-5 h1.font-montserrat {
	  font-size: 60px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner-content-5 h1.font-montserrat {
	  font-size: 54px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-content-5 h1.font-montserrat {
	  font-size: 50px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-5 h1.font-montserrat {
	  margin: 12px 0 8px;
	  font-size: 30px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner-content-5 h1 {
	  font-size: 60px;
	  line-height: 58px;
	  margin: 15px 0 25px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-5 h1 {
	  font-size: 48px;
	  line-height: 50px;
	  margin: 15px 0 20px;
	}
  }
  
  .banner-content-5 p {
	font-size: 16px;
	margin: 0 0 40px;
	color: #000000;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-content-5 p {
	  margin: 0 0 20px;
	}
  }
  
  .bg-padding-1 {
	padding: 52px 0 60px;
  }
  
  .bg-padding-2 {
	padding: 148px 0 153px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.bg-padding-2 {
	  padding: 100px 0 105px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.bg-padding-2 {
	  padding: 90px 0 95px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.bg-padding-2 {
	  padding: 65px 0 70px;
	}
  }
  
  .bg-padding-3 {
	padding: 171px 0 176px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.bg-padding-3 {
	  padding: 100px 0 105px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.bg-padding-3 {
	  padding: 90px 0 95px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.bg-padding-3 {
	  padding: 90px 0 95px;
	}
  }
  
  .btn-style-6 a {
	display: inline-block;
	z-index: 1;
	font-weight: 500;
  }
  
  .btn-style-6 a.btn {
	color: #fdfdfd;
	background-color: #000000;
	padding: 11px 20px 11px;
	border: none;
  }
  
  .btn-style-6 a.btn.padding-dec {
	padding: 10px 17px 10px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.btn-style-6 a.btn {
	  font-size: 13px;
	  padding: 9px 14px 10px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.btn-style-6 a.btn {
	  font-size: 13px;
	  padding: 9px 14px 10px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.btn-style-6 a.btn {
	  padding: 7px 15px 9px;
	  font-size: 13px;
	}
  }
  
  .btn-style-6-position {
	position: absolute;
	left: 30px;
	bottom: 20px;
  }
  
  .btn-style-7 a {
	display: inline-block;
	font-weight: 500;
	line-height: 1;
	font-size: 16px;
	border-bottom: 1px solid #000000;
  }
  
  @media only screen and (max-width: 767px) {
	.btn-style-7 a {
	  font-size: 14px;
	}
  }
  
  .btn-style-7 a:hover {
	border-bottom: 1px solid #e97730;
  }
  
  @media only screen and (max-width: 767px) {
	.banner-area.pt-80 {
	  padding-top: 70px;
	}
	.banner-responsive-mt {
	  margin-top: 30px;
	}
  }
  
  /*-------- 05. Section title style ---------*/
  .section-title-timer-wrap {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	z-index: 2;
	position: relative;
	padding: 0 44px 0 0;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-timer-wrap {
	  padding: 0 0px 0 0;
	  display: block;
	  text-align: center;
	}
  }
  
  .section-title-timer-wrap .section-title-1 h2 {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: .3px;
	margin: 0;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
  }
  
  .section-border {
	position: relative;
  }
  
  .section-border::before {
	background-color: #e1e1e1;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	width: 100%;
	z-index: 1;
  }
  
  .section-border-margin-1 {
	margin: 0 107px -29px 0;
  }
  
  @media only screen and (max-width: 767px) {
	.section-border-margin-1 {
	  margin: 0 0px 0px 0;
	}
  }
  
  .section-title-tab-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-tab-wrap {
	  display: block;
	  text-align: center;
	}
	.section-title-tab-wrap.mb-75 {
	  margin-bottom: 35px;
	}
  }
  
  .section-title-2 h2 {
	font-size: 36px;
	font-weight: 600;
	color: #2c2c2c;
	margin: 0;
	line-height: 1;
	display: inline-block;
	position: relative;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title-2 h2 {
	  font-size: 34px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title-2 h2 {
	  font-size: 30px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2 h2 {
	  font-size: 24px;
	}
  }
  
  .section-title-2 h2::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -17px;
	width: 100px;
	height: 2px;
	background-color: #e97730;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2 h2::before {
	  right: 0;
	  margin: auto;
	}
  }
  
  .section-title-2.border-none h2::before {
	display: none;
  }
  
  .section-title-2.st-border-center h2::before {
	left: 0;
	right: 0;
	margin: auto;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2.st-border-center h2::before {
	  bottom: -10px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2.mb-75 {
	  margin-bottom: 35px;
	}
  }
  
  .section-title-3 h2 {
	font-size: 40px;
	font-weight: 600;
	color: #2c2c2c;
	margin: 0;
	line-height: 1;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-3 h2 {
	  font-size: 30px;
	}
  }
  
  .section-title-3 p {
	color: #7e7e7e;
	font-size: 16px;
	margin: 20px auto 0;
	width: 46%;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title-3 p {
	  width: 56%;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title-3 p {
	  width: 75%;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-3 p {
	  font-size: 15px;
	  width: 100%;
	  margin: 12px auto 0;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-3.mb-55 {
	  margin-bottom: 25px;
	}
  }
  
  .section-title-4 h2 {
	font-size: 36px;
	font-weight: 600;
	color: #323232;
	margin: 0;
	line-height: 1;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title-4 h2 {
	  font-size: 30px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-4 h2 {
	  font-size: 24px;
	  line-height: 1.2;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-4.mb-50 {
	  margin-bottom: 25px;
	}
	.section-title-4.mb-55 {
	  margin-bottom: 30px;
	}
  }

  /*-------- 18. About us style ---------*/
.about-img {
	margin: 0 37px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.about-img {
	  margin: 0 0px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.about-img {
	  text-align: center;
	  margin: 30px 0px 0;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.about-img {
	  text-align: center;
	  margin: 30px 0px 0;
	}
  }
  
  .about-img img {
	width: 100%;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	-webkit-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.about-img img {
	  max-width: 100%;
	  width: inherit;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.about-img img {
	  max-width: 100%;
	  width: inherit;
	}
  }
  
  .about-img:hover img {
	-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
			transform: scale(0.9);
  }
  
  .about-content h2 {
	font-size: 30px;
	color: #e97730;
	font-family: "Great Vibes", cursive;
	margin: 0;
  }
  
  .about-content h1 {
	font-size: 36px;
	font-weight: 600;
	line-height: 1;
	margin: 12px 0 28px;
  }
  
  @media only screen and (max-width: 767px) {
	.about-content h1 {
	  font-size: 32px;
	  margin: 10px 0 18px;
	}
  }
  
  .about-content p {
	color: #5e5e5e;
	font-size: 15px;
	font-weight: 300;
	margin: 0 0 26px;
	line-height: 26px;
  }
  
  @media only screen and (max-width: 767px) {
	.about-content p {
	  font-size: 14px;
	  margin: 0 0 16px;
	}
  }
  
  .about-content p.mrg-inc {
	margin: 0 0 52px;
  }
  
  @media only screen and (max-width: 767px) {
	.about-content p.mrg-inc {
	  margin: 0 0 23px;
	}
  }
  
  .single-funfact .funfact-img img {
	max-width: 100%;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
  }
  
  .single-funfact h2 {
	font-weight: bold;
	font-size: 36px;
	color: #3a3a3a;
	margin: 15px 0 5px;
	line-height: 1;
  }
  
  .single-funfact span {
	color: #3a3a3a;
	font-size: 15px;
	display: inline-block;
	position: relative;
	padding: 0 0 10px;
  }
  
  .single-funfact span:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	width: 48px;
	height: 1px;
	margin: 0 auto;
	background-color: #e97730;
  }
  
  .single-funfact:hover .funfact-img img {
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running tada;
			animation: 500ms ease-in-out 0s normal none 1 running tada;
  }
  
  .single-team-wrap {
	position: relative;
	border: 1px solid transparent;
	border-radius: 100%;
	overflow: hidden;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
  }
  
  .single-team-wrap img {
	width: 100%;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
  }
  
  .single-team-wrap .team-info-position {
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	background-color: #fff;
	height: 50%;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
  }
  
  .single-team-wrap .team-info-position .team-info h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 10px;
	line-height: 1;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-team-wrap .team-info-position .team-info h3 {
	  margin: 0 0 7px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.single-team-wrap .team-info-position .team-info h3 {
	  font-size: 16px;
	  margin: 0 0 3px;
	}
  }
  
  .single-team-wrap .team-info-position .team-info span {
	font-size: 16px;
	color: #666;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.single-team-wrap .team-info-position .team-info span {
	  font-size: 14px;
	}
  }
  
  .single-team-wrap:hover {
	border: 1px solid #eee;
  }
  
  .single-team-wrap:hover img {
	-webkit-transform: scale(1.08);
		-ms-transform: scale(1.08);
			transform: scale(1.08);
  }
  
  .single-team-wrap:hover .team-info-position {
	bottom: 0px;
	opacity: 1;
	visibility: visible;
  }

  /*-------- 19. Contact us style ---------*/
.contact-us-info-wrap .contact-us-info-title {
	margin: 0 0 27px;
  }
  
  @media only screen and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info-title {
	  margin: 0 0 12px;
	}
  }
  
  .contact-us-info-wrap .contact-us-info-title h3 {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	position: relative;
	display: inline-block;
	padding-left: 24px;
	line-height: 1;
  }
  
  @media only screen and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info-title h3 {
	  font-size: 20px;
	}
  }
  
  .contact-us-info-wrap .contact-us-info-title h3:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #000000;
  }
  
  .contact-us-info-wrap .contact-us-info {
	margin: 0 0 18px;
  }
  
  @media only screen and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info {
	  margin: 0 0 12px;
	}
  }
  
  .contact-us-info-wrap .contact-us-info p {
	font-size: 16px;
	color: #323232;
	margin: 0 0 6px;
  }
  
  @media only screen and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info p {
	  font-size: 15px;
	  margin: 0 0 5px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info p {
	  font-size: 14px;
	}
  }
  
  .contact-us-info-wrap .contact-us-info span {
	font-size: 16px;
	color: #000000;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
  }
  
  @media only screen and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info span {
	  font-size: 15px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.contact-us-info-wrap .contact-us-info span {
	  font-size: 14px;
	}
  }
  
  .map iframe {
	height: 500px;
	width: 100%;
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1600px) {
	.map iframe {
	  height: 400px;
	}
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
	.map iframe {
	  height: 400px;
	}
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.map iframe {
	  height: 350px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.map iframe {
	  height: 350px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.map iframe {
	  height: 300px;
	}
  }
  
  .contact-form-style input, .contact-form-style textarea {
	border: 1px solid #f2f2f2;
	background-color: #f9f9f9;
	height: 50px;
	color: #8f8f8f;
	font-weight: 300;
	padding: 2px 20px;
	margin: 0 0 30px;
  }
  
  .contact-form-style input::-moz-input-placeholder, .contact-form-style textarea::-moz-input-placeholder {
	color: #8f8f8f;
	opacity: 1;
  }
  
  .contact-form-style input::-webkit-input-placeholder, .contact-form-style textarea::-webkit-input-placeholder {
	color: #8f8f8f;
	opacity: 1;
  }
  
  .contact-form-style textarea {
	padding: 26px 30px;
	height: 290px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.contact-form-style textarea {
	  height: 200px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.contact-form-style textarea {
	  height: 150px;
	}
  }
  
  .contact-form-style .contact-us-btn {
	text-align: right;
  }
  
  .contact-form-style .contact-us-btn button {
	display: inline-block;
	background-color: #e97730;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	padding: 18px 40px;
	z-index: 1;
  }
  
  @media only screen and (max-width: 767px) {
	.contact-form-style .contact-us-btn button {
	  font-size: 15px;
	  padding: 12px 25px;
	}
  }
  
  .contact-form-wrap p.form-messege {
	margin: 0;
	text-align: right;
  }
  
  .contact-form-wrap p.form-messege.success {
	margin: 10px 0 0;
  }

  /*-------- 13. Testimonial style ---------*/
.single-testimonial {
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 2px solid transparent;
	padding: 0 24px 33px 33px;
	position: relative;
  }
  
  .single-testimonial:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	bottom: 0;
	-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
			transform-origin: left bottom;
	-webkit-transform: skewY(5deg);
		-ms-transform: skewY(5deg);
			transform: skewY(5deg);
	border-bottom: 2px solid #dedbdb;
	left: 0;
	opacity: 0;
	visibility: hidden;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.single-testimonial:before {
	  -webkit-transform: skewY(6deg);
		  -ms-transform: skewY(6deg);
			  transform: skewY(6deg);
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-testimonial:before {
	  -webkit-transform: skewY(6deg);
		  -ms-transform: skewY(6deg);
			  transform: skewY(6deg);
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.single-testimonial:before {
	  -webkit-transform: skewY(3deg);
		  -ms-transform: skewY(3deg);
			  transform: skewY(3deg);
	}
  }
  
  @media only screen and (min-width: 479px) and (max-width: 575px) {
	.single-testimonial:before {
	  -webkit-transform: skewY(3deg);
		  -ms-transform: skewY(3deg);
			  transform: skewY(3deg);
	}
  }
  
  .single-testimonial:after {
	content: '';
	width: 2px;
	height: 33px;
	position: absolute;
	bottom: -32px;
	right: -2px;
	background-color: #dedbdb;
	opacity: 0;
	visibility: hidden;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.single-testimonial:after {
	  bottom: -31px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-testimonial:after {
	  bottom: -22px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.single-testimonial:after {
	  bottom: -29px;
	}
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
	.single-testimonial:after {
	  bottom: -27px;
	}
  }
  
  @media only screen and (min-width: 479px) and (max-width: 575px) {
	.single-testimonial:after {
	  bottom: -23px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-testimonial {
	  padding: 0 20px 33px 20px;
	}
  }
  
  .single-testimonial .testimonial-img {
	margin-top: -40px;
	opacity: 0;
	visibility: hidden;
  }
  
  .single-testimonial .testimonial-img img {
	max-width: 100%;
  }
  
  .single-testimonial p {
	font-size: 16px;
	color: #4b4b4b;
	font-weight: 300;
	font-style: italic;
	margin: 17px 0 15px;
	line-height: 29px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.single-testimonial p {
	  font-size: 15px;
	  line-height: 26px;
	}
  }
  
  .single-testimonial .testimonial-info h4 {
	font-weight: 600;
	font-size: 15px;
	color: #575555;
	margin: 0 0 5px;
	position: relative;
	padding-left: 10px;
  }
  
  .single-testimonial .testimonial-info h4:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	width: 5px;
	height: 2px;
	background-color: #575555;
  }
  
  .single-testimonial .testimonial-info span {
	font-size: 14px;
	color: #746e6e;
	font-weight: 500;
  }
  
  .testimonial-active .swiper-slide {
	padding: 40px 0 35px;
  }
  
  .testimonial-active .swiper-slide.swiper-slide-active .single-testimonial {
	border-left: 2px solid #dedbdb;
	border-right: 2px solid #dedbdb;
	border-top: 2px solid #dedbdb;
  }
  
  .testimonial-active .swiper-slide.swiper-slide-active .single-testimonial .testimonial-img {
	opacity: 1;
	visibility: visible;
  }
  
  .testimonial-active .swiper-slide.swiper-slide-active .single-testimonial:before {
	opacity: 1;
	visibility: visible;
  }
  
  .testimonial-active .swiper-slide.swiper-slide-active .single-testimonial:after {
	opacity: 1;
	visibility: visible;
  }
  

  /*-------- 05. Section title style ---------*/
.section-title-timer-wrap {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	z-index: 2;
	position: relative;
	padding: 0 44px 0 0;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-timer-wrap {
	  padding: 0 0px 0 0;
	  display: block;
	  text-align: center;
	}
  }
  
  .section-title-timer-wrap .section-title-1 h2 {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: .3px;
	margin: 0;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
  }
  
  .section-border {
	position: relative;
  }
  
  .section-border::before {
	background-color: #e1e1e1;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	width: 100%;
	z-index: 1;
  }
  
  .section-border-margin-1 {
	margin: 0 107px -29px 0;
  }
  
  @media only screen and (max-width: 767px) {
	.section-border-margin-1 {
	  margin: 0 0px 0px 0;
	}
  }
  
  .section-title-tab-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-tab-wrap {
	  display: block;
	  text-align: center;
	}
	.section-title-tab-wrap.mb-75 {
	  margin-bottom: 35px;
	}
  }
  
  .section-title-2 h2 {
	font-size: 36px;
	font-weight: 600;
	color: #2c2c2c;
	margin: 0;
	line-height: 1;
	display: inline-block;
	position: relative;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title-2 h2 {
	  font-size: 34px;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title-2 h2 {
	  font-size: 30px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2 h2 {
	  font-size: 24px;
	}
  }
  
  .section-title-2 h2::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -17px;
	width: 100px;
	height: 2px;
	background-color: #e97730;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2 h2::before {
	  right: 0;
	  margin: auto;
	}
  }
  
  .section-title-2.border-none h2::before {
	display: none;
  }
  
  .section-title-2.st-border-center h2::before {
	left: 0;
	right: 0;
	margin: auto;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2.st-border-center h2::before {
	  bottom: -10px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-2.mb-75 {
	  margin-bottom: 35px;
	}
  }
  
  .section-title-3 h2 {
	font-size: 40px;
	font-weight: 600;
	color: #2c2c2c;
	margin: 0;
	line-height: 1;
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-3 h2 {
	  font-size: 30px;
	}
  }
  
  .section-title-3 p {
	color: #7e7e7e;
	font-size: 16px;
	margin: 20px auto 0;
	width: 46%;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title-3 p {
	  width: 56%;
	}
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title-3 p {
	  width: 75%;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-3 p {
	  font-size: 15px;
	  width: 100%;
	  margin: 12px auto 0;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-3.mb-55 {
	  margin-bottom: 25px;
	}
  }
  
  .section-title-4 h2 {
	font-size: 36px;
	font-weight: 600;
	color: #323232;
	margin: 0;
	line-height: 1;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-title-4 h2 {
	  font-size: 30px;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-4 h2 {
	  font-size: 24px;
	  line-height: 1.2;
	}
  }
  
  @media only screen and (max-width: 767px) {
	.section-title-4.mb-50 {
	  margin-bottom: 25px;
	}
	.section-title-4.mb-55 {
	  margin-bottom: 30px;
	}
  }
